pytorch-lightning
record-keeper
pytorch-metric-learning
torch
torchvision
umap-learn
hydra-core
tensorboard
faiss-gpu
pytest

# For DG-STGCN
# pip install -U openmim
# mim install mmcv-full==1.7.1 for now. Can also try to build correct version (1.5.0) from source